[run]
branch = True
source =
    negentropy_telotopic
    appetition_aversion
    memotion_decay
    common
omit =
    */tests/*
    */.venv/*
    */.venv_pkgtest/*
    */build/*
    */dist/*

[report]
show_missing = True
skip_covered = True
precision = 1